body {
    /*background-image: url("assets/FUNKY.png");*/
    position: relative;
    min-height: 100%;
    min-height: 100vh;
}
footer{
    position: absolute;
    right: 0; bottom:0; left:0;
}
#footer{
    margin-top: 3%;
}
.bgimg{
    background-image: url("assets/FUNKY.png");
}
.description{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    margin-top: 5%;
}
.wrapper{
    margin-right: auto;
    margin-left: auto;
    min-height: calc(100vh);
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fav {
    vertical-align: text-bottom;
    bottom: 2%;
}
.bottom {
    text-align: center;
    position: sticky;
}
#sticky-footer {
    flex-shrink: none;
}
