body{
    background-color: #D3D3D3;
    background-image: "https://media.discordapp.net/attachments/460075353273270282/627635862502637568/EASYPOKERNIGHT.jpg?width=709&height=473";
    }
.help{
    position: absolute;
    top: 0;
    right: 0;
}

a.trail{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: pink;
}
